body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pranker{
  display: flex;
  gap: 10px;
  align-items: center;
}
.selectorStatus{
  padding: 10px;
  width: 100%;
  border-radius: 9px;
}
.price .input-group .input-group-prepend button.btn {
  padding: 10px;
  height: 30px;
  width: 30px;
  border-radius: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  margin: 0px;
  box-shadow: 0px 0px 4px 0px white;
  border: none;
}
.carousel-container .carousel-image{
  object-fit: contain;
}
.price .input-group {
  background: #000000a1;
  width: max-content;
  padding: 0px 8px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.carousel-container .carousel-item.fade {
  opacity: inherit;
}
.divider{
  background: #fbfbfb;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #cfcaca;
  margin-bottom: 20px;
}
.price .input-group input.form-control {
  max-width: 100px;
  width: 100px;
  text-align: center;
  background: none;
  border-radius: 24px !important;
  border: none;
  color: white;
}
